web/amplify.yml

# cypress
web/cypress/fixtures/example.json
web/cypress/screenshots/*
web/cypress.config.ts

.aws

requirement.txt
server/.local/*
server/.terraform/*
server/.terraform.lock.hcl
*/main_test.go
_esc/
server/lambda/create_schedule/cmd/volume/*
