@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .navbar {
    @apply bg-navbarColor shadow;
  }
  .textarea {
    font-family: inherit;
    max-width: 100%;
    max-height: 50px;
    height: 50px;
    white-space: pre-wrap;
    word-wrap: break-word;
    border: none;
    border-radius: 5px;
    overflow: hidden;
    background-color: #f0f5ef;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    vertical-align: top;
    text-align: center;
  }
  .card {
    @apply border border-gray-300 p-4 m-4 relative shadow-md rounded-lg bg-card;
    @apply my-2p mx-15p; /* タブレットサイズのマージン */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .time {
    @apply absolute top-2 left-2 bg-white p-1 rounded-md mb-8 bg-card;
  }
  @screen sm {
    .time {
      @apply static mb-4;
    }
  }
  .dashboard {
    @apply w-4/5 h-4/5 bg-dash rounded-lg shadow-lg m-auto;
  }
  .center-items {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .right-align {
    margin-left: auto;
  }
  .space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

html,
body {
  @apply bg-bg;
  font-size: 2.667vw;
}

/* タブレットサイズ以降（768px以上） */
@media screen and (min-width: 768px) {
  html,
  body {
    font-size: min(2.667vw, 14px);
  }
}

/* PCサイズ（1024px以上） */
@media screen and (min-width: 1024px) {
  html,
  body {
    font-size: min(2.667vw, 16px);
  }
}
